/node_modules*
/test/example/node/priv_key.pem
/test/ca.key
/test/ca.pem
/test/ca.srl
/test/server.key
/test/server.pem
/.nyc_output
/test/example/rust/*/Cargo.lock
/test/example/rust/*/target
/docs/schema/schemas
/docs/schema/web
